.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border: 2.5px solid #5D5C61;
    font-size: 6rem;
    color: #0e0e2e;
    font-weight: bold;
}

.square:hover {
    cursor: pointer;
}